{% extends "base.html" %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tr>
            {% for header in headings %}
            <th>
                <a href="/sort/{{ table }}/{{ header }}/desc" class="text-secondary text-decoration-none"><i class="fas fa-arrow-up"></i></a>
                <a href="/sort/{{ table }}/{{ header }}/asc" class="text-secondary text-decoration-none"><i class="fas fa-arrow-down mr-2"></i></a>
                {{ header }}
            </th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{% if cell in headings[0] %}
                <span style="font-weight: 700">
                    {% if privilege > 1 %}
                        <a href="/delete/{{ table }}/{{ row[cell] }}"><i class="fas fa-trash" style="padding-right: 10px"></i></a>
                    {% endif %}
                    #{{ row[cell] }}
                </span>
                {% elif cell in headings[1:] %}
                 <span style="font-weight: 500">
                     {% if privilege > 1 %}
                        <a href="/update/{{ table }}/{{ row[headings[0]] }}/{{ row[cell] }}"><i class="fal fa-edit" style="padding-right: 10px"></i></a>
                     {% endif %}
                     {{ row[cell] }}
                </span>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}